{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% block breadcrumb %}
	{{
		macros.breadcrumbs([
		{
			'icon': 'icon-briefcase',
			'name': 'desktop',
			'href': path('claro_desktop_open')
		},
		{
			'name': 'Cpa',
			'href': ''
		}])
	}}
{% endblock %}
{% block section_content %}
<div class="panel-heading">
<h2 class="panel-title">Mon outil de fou </h2>
</div>
<h1>Présentation claroline</h1>
<iframe frameborder="0" width="800" height="600" src="//www.dailymotion.com/embed/video/x16ybny" allowfullscreen></iframe><br />
{% endblock %}
